@model List<QuickResume.Models.Language>

@{
    ViewData["Title"] = "My Languages";
}

<div class="container-table">
    <h2>My Languages</h2>

    <table>
        <thead>
            <tr>
                <th>Language Name</th>
                <th>Proficiency</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var language in Model)
            {
                <tr>
                    <td>@language.Name</td>
                    <td>@language.Proficiency</td>
                    <td>
                        <div class="btn-table-container">
                            <button class="edit-btn">
                                <a asp-action="Edit" asp-route-id="@language.Id">Edit</a>
                            </button>
                            <button class="delete-btn">
                                <a asp-action="Delete" asp-route-id="@language.Id">Delete</a>
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="btn-container">
        <button class="create-btn">
            <a asp-action="Create">Add New Language</a>
        </button>
    </div>
</div>
